*{
  font-family: Helvetica;
  box-sizing: border-box;
}
header{
  font-size: 100px;
  font-weight: bold;
  color: black;
  text-align: center;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*onl5ks*_ga*ODQ1Nzk1MzEwMC4xNjczMDIxMzU3*_ga_3LRZM6TM9L*MTcwMDMwNjczMS41OS4xLjE3MDAzMTYyMDQuMC4wLjA);
  display: fixed;
  height: 200px;
}

h1{
  font-size: 30px;
  color: lightblue;
}
